.message {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 25px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    height: 48px;
    width: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #0066CC;
    gap: 3px;
    border-radius: 10px 10px 0 10px;
    margin-right: 25px;
    position: relative;
}

.text:after {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #0066CC;
    border-left: 10px solid #0066CC;
    position: absolute;
    right: -10px;
    top: 29px;
}

.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin: auto 10px
}

.messageText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: auto 10px;
}

.time {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    display: flex;
    justify-content: end;
    padding-right: 11px;
    padding-top: 5px;
}