.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 317px;
    height: 100vh;
    transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 600;
    font-size: 22px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.open {
    left: 0;
}

.background {
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 63px 70px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    font-weight: 600;
    font-size: 22px;
    color: #58acff;
}

.nav a:focus {
    font-weight: 600;
    font-size: 22px;
    color: #3d6b99;
}

.nav a.active {
    font-weight: 600;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0059b2;
}

.close {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 124px;
    top: 24px;
    cursor: pointer;
    background: none;
    border: none;
}

.close img {
    width: 24px;
    height: 24px;
}
