.App {
    --header_height: 60px;
    margin: 25px 0;
    justify-items: center;
}

.hw {
    padding: 20px 70px;
    border: 1px solid #d9d9d9;
    width: 1280px;
}

.hwTitle {
    margin: 10px 0;
    padding: 20px 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;
}