.greetingForm {
    width: 1280px;
    height: 372px;
    margin-top: 20px;
}

.inputAndButtonContainer {
    display: flex;
    margin: 10px 0;
    gap: 12px;
}

.error {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

input {
    width: 372px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    padding: 8px 12px;
    margin-bottom: 7px;
}

.input:focus {
}

.errorInput {
    border: 1px solid #c00;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;
    color: #FFFFFF;
}

.button:focus {
}

.button:active {
    background: #06c;
}

.button:disabled {
    background: #06c;
    opacity: 0.5;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
