.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin-top: 27px;
}

.textarea {
    border-radius: 20px;
    width: 976px;
    min-height: 40px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    justify-content: center;
    align-items: center;
    place-content: center;
    padding-left: 24px;
    resize: none;
}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #04AA6D;
    border: 2px solid #008CBA;
}
.button:active {

}
