.burgerMenuIcon {
    width: 24px;
    height: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 60px;
    padding: 0 70px;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
    background: #fff;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}