.button {
    border: none
}

.disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 133px;
    height: 30px;
    background: #004d99;
    opacity: 0.5;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #002e5c;
}

.secondary {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    width: 176px;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #06c;
    background: white;
}

.default {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border-radius: 3px;
    padding: 5px 24px;
    /*width: 132px;*/
    /*height: 30px;*/
    background: #06c;
}

.red {
    border-radius: 3px;
    padding: 5px 24px;
    /*width: 129px;*/
    /*height: 30px;*/
    background: #cc1439;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.default:hover {
    background: #0080ff;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border-radius: 3px;
    padding: 5px 24px;
    /*width: 167px;*/
    /*height: 30px;*/
}

.red:hover {
    border-radius: 3px;
    padding: 5px 24px;
    /*width: 167px;*/
    /*height: 30px;*/
    background: #ff1a47;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.secondary:hover {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    /*width: 167px;*/
    /*height: 30px;*/
    background: #e5f0fa;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #06c;
}


.default:active {
    border-radius: 3px;
    padding: 5px 24px;
    width: 149px;
    height: 30px;
    background: #0059b2;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.secondary:active {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    width: 149px;
    height: 30px;
    background: #c9e5ff;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #06c;
}

.red:active {
    border-radius: 3px;
    padding: 5px 24px;
    width: 149px;
    height: 30px;
    background: #b21232;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.button:disabled {
    cursor: not-allowed;
    background: #004d99;
    opacity: 0.5;
    width: 133px;
    height: 30px;
}
